---
---

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta
    name="description"
    content="Benjamin Filler - Media creator, director, and narrative systems designer."
  />
  <meta
    name="keywords"
    content="Benjamin Filler, media creator, narrative design, cyberpunk"
  />

  <link
    rel="icon"
    href="https://cdn.glitch.global/4e368f14-119a-43a6-a624-d2574ca4d4f9/Benny.ico?v=1747661770512"
  />

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=VT323&display=swap"
    rel="stylesheet"
  />
  <link
    href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap"
    rel="stylesheet"
  />

  <title>About Ben</title>

  <!-- Local CSS/JS -->
  <link rel="stylesheet" href="/bbfillerabout/css/main.css" />
  <script src="/bbfillerabout/script.js" defer></script>
</head>

<body>
  
    <span>About.txt</span>
    <div class="window-content">
      <h2>👾 WHO IS BENJAMIN FILLER?</h2>
      <p>
        I'm a media creator, educator, director, and narrative systems designer from
        Michigan. I tell stories across Art, Film, Games, Music, and
        Interactive Spaces.
      </p>
      <p>
        My work blends cinematic technique, code-based immersion, and analog
        grit. I like strange archives, gripping installations, modular synths,
        and custom hardware.
      </p>
      <h3>💾 KEYWORDS</h3>
      <ul>
        <li>🛠 Hardware & DIY</li>
        <li>📼 Lo-fi Retrospace &amp; New Media Aesthetics</li>
        <li>⛓ Experimental Documentary</li>
        <li>🧠 Narrative Design</li>
        <li>🛠 Interactive & Multimedia Installations</li>
        <li>🛸 Cyberpunk & Futurism</li>
        <li>🎮 Immersive Game Worlds &amp; Story Maps</li>
      </ul>
    </div>
  </div>
</body>