---
---

<head>
  <title>Gallery</title>
  <link rel="stylesheet" href="/gallery/gallery.css" />
</head>

<body>
  <div class="gallery-window">
    <h2>🖼 Cool Pics Gallery</h2>
    <div class="gallery-grid">
      <img src="/gallery/octavia.jpg" alt="Octavia" />
      <img src="/gallery/miles.jpg" alt="Miles" />
      <img src="/gallery/tigerrr.gif" alt="TIGERRR" />
      <img src="/gallery/psychtoad.gif" alt="Psych Toad" />


      
    </div>
  </div>
</body>